@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
/* 
  //Abishek Edits */
--color-purple-normal:#724BDB;
--color-blue-normal:#2771D7;
--color-orange-normal:#FD7128;
--color-green-normal:#339B50;
--color-green-dark:#098A8E;
--color-pink-normal:#D84063;
--color-purple-dark:#4252C7;

--color-blue-light:#EDF4FD;
--color-text-ash:#666668;
--color-text-blue:#103766;

--color-header-background:#143966;
--color-header-icon:#B8D7FC;
--color-container-background:#E8F2FE;


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
